<app-head 
  [cardItems]="cardItems" 
  [totalCart]="totalCart" />
  <div class="text-center">
    <h2 class="cart-intro">Catálogo de Compras</h2>
  </div>
  <div class="main-view">
    <main class="main">
      <section class="page">
        <div class="contentSpacing">
          <catalog
            class="cart-catalogs"
            [products]="products"
            (addItemEventEmitter)="onAddItem($event)"
          ></catalog>
          <router-outlet></router-outlet>
        </div>
      </section>
    </main>
  </div>
