.offcanvas {
  --bs-offcanvas-width: 600px;
  --bs-offcanvas-bg: #fff;
}

/* Esto crea el "container" para container queries (opcional pero nice) */
.main-view {
  container-name: main-view-area;
  container-type: inline-size;
  width: 100%;
  min-height: 100vh;
}

/* Main ocupa todo */
.main {
  width: 100%;
  min-height: 100%;

  /* Espaciado lateral responsive: mínimo 16px, máximo 24px */
  --content-spacing: clamp(16px, 2vw, 24px);
}

/* Sección de la página (puedes meter fondo aquí si quieres) */
.page {
  background: transparent;
  padding-block: 8px 24px;
}

/* El contenedor central tipo Spotify */
.contentSpacing {
  width: 100%;
  max-width: var(--content-max-width);
  margin-inline: auto;
  padding-inline: var(--content-spacing);
}

/* Ejemplo: si el contenedor crece, aumentas max-width o spacing */
@container main-view-area (width > 900px) {
  .main {
    --content-spacing: clamp(20px, 2vw, 32px);
  }

  .contentSpacing {
    max-width: 1400px;
  }
}

.cart-sidebar{
  grid-area: sidebar;
}

.cart-main{
  /* grid-area: main; */
  container: main-view-grid-area;
}

.cart-intro{
  grid-area: intro;
  margin-top: 1.5rem;
  margin-bottom: 1.875rem;
  text-align: center;
}



@media ( min-width : 1200px) {
	.cart-layout {
		display: grid;
		grid-template-areas: "main sidebar";
		grid-template-columns: 5fr 2fr;
		gap: 1.5rem;
	}
	.cart-main {
		grid-template-areas: "intro" "content";
		grid-template-rows: auto 1fr;
		grid-template-columns: 4fr 1fr;
	}

	/* Sidebars pegajosos (Sticky) */
	.cart-sidebar {
		position: -webkit-sticky;
		position: sticky;
		top: 5rem;
		display: block !important;
		height: calc(100vh - 6rem);
		padding-left: 0.25rem;
		margin-left: -0.25rem;
		overflow-y: auto;
	}
}